.article-footer {
    @include flex-column;
    justify-content: flex-start;

    .field-button {
        @include flex-row;
        justify-content: space-between;
        width: 20.83333333333333%;
        margin-bottom: 15px;

        @include pc {
            width: 10.87975013014055%;
            margin-bottom: 69px;
        }

        a {
            @include flex-column;
            // margin-right: 122px;

            img {
                width: 16px;
                margin-bottom: 3px;

                @include pc {
                    width: auto;
                    margin-bottom: 17px;
                }
            }

            p {
                @include font2;
                font-size: 9px;

                @include pc {
                    font-size: 16px;
                }
            }
        }
    }

    .line {
        border-bottom: 2px rgba(196, 196, 196, 1) solid;
        width: 90%;
        // margin: 0 312px;
        margin-bottom: 20px;

        @include pc {
            margin-bottom: 40px;
            width: 70%
        }
    }

    .author {
        @include flex-column;
        justify-content: flex-start;
        width: 100%;
        margin-top: 20px;

        @include pc {
            margin-top: 0;
        }

        img {
            width: 10%;
            margin-bottom: 20px;

            @include pc {
                width: auto
            }
        }

        .teks {
            @include font2;
            font-size: 10px;
            margin-bottom: 0px;

            @include pc {
                font-size: 20px;
            }
        }

        .judul {
            @include font1;
            font-size: 15px;
            margin-bottom: 40px;

            @include pc {
                margin-bottom: 80px;
                font-size: 25px;
            }
        }
    }

    .field-nav {
        @include flex-row;
        justify-content: space-between;
        width: 86%;
        margin-bottom: 20px;

        @include pc {
            margin-bottom: 40px;
            width: 68%;
        }
    }
}