// html,
// body {
//     //* important
//     // position: relative;
//     // height: 75vh;
// }
.swiper-container {
    transition: $transition-slower;
}


// Header Carousel
.swiper-container.header-carousel {
    width: 100%;
    height: 45vh;
    position: relative;
    margin-top: 8vh;

    @include pc {
        margin-top: 0vh;
        height: 100vh;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: color(white);
        position: relative;
        /* Center slide text vertically */
        @include flex-column;
        width: 100%;
        height: 100%;
        transition: $transition-slow;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .atas {
            @include isicarouselheader;

            top: 7%;

            @include tablet {
                top: 20%;
            }
        }

        .kiri {
            @include isicarouselheader;

            @include tablet {
                left: 15%;
            }
        }

        .kanan {
            @include isicarouselheader;

            @include tablet {
                right: 15%;
            }
        }

        .bawah {
            @include isicarouselheader;

            @include tablet {
                bottom: 20%;
            }
        }

        .tengah {
            @include isicarouselheader;
        }


        .background {
            background-image: url('../img/tim-mossholder-ysDq0fY-bzo-unsplash.jpg');
            // background-image: url([data-gambar]);
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            opacity: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            pointer-events: none;


            .kecil {
                background-size: 150px;
            }
        }

        &.swiper-slide-active {
            // transition: $transition-slow;
            // height: 100%;
            // transform: translateY(0);
        }
    }
}

// Blog Carousel
.swiper-container.blog-carousel {
    width: 100%;
    position: relative;
    height: 16rem;
    margin-bottom: 2rem;

    @include tablet {
        width: 75%;
        height: 36rem;
    }

    .swiper-slide {
        padding: 10px 0;
        text-align: center;
        font-size: 18px;
        // background: rgb(162, 162, 162);
        // position: relative;
        /* Center slide text vertically */
        @include flex-column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: $transition-slow;
        position: relative;

        .gambar {
            width: 100%;
            height: 50%;
            object-fit: cover;
            margin-bottom: 1em;
        }

        .field-content {
            @include flex-column;
            width: 100%;
            height: 50%;
            justify-content: space-between;

            .field-teks {
                width: 100%;

                .judul {
                    @include font2;
                    font-size: 11px;
                    text-align: left;
                    line-height: 14.51px;
                    border: 0;
                    padding-bottom: 0;
                    margin-bottom: 21px;

                    @include pc {
                        font-size: 22px;
                        line-height: 29.01px;
                    }
                }

                .deskripsi {
                    @include font2;
                    text-align: justify;
                    font-size: 8px;
                    line-height: 10.55px;
                    margin-bottom: 1em;
                    color: rgba(0, 0, 0, 1);

                    @include pc {
                        line-height: 21.1px;
                        font-size: 16px;
                    }
                }
            }

            .field-meta {
                width: 100%;

                .line {
                    width: 100%;
                    border-bottom: 1px solid rgba(0, 0, 0, 1);
                    justify-self: flex-end;
                    margin-bottom: .4em;

                    @include pc {
                        border-bottom: 2px solid rgba(0, 0, 0, 1);
                    }
                }

                .meta {
                    @include flex-row;
                    width: 100%;
                    justify-content: space-between;

                    .tanggal,
                    .author {
                        @include font2;
                        font-style: italic;
                        font-size: 7px;
                        color: rgba(0, 0, 0, 1);

                        @include pc {
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        .overlay {
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: -10px;
            right: -10px;
            opacity: 0;
            background: color(white-darkest);
            transition: $transition-slow;
            // background: red;
        }

        &:hover {
            .overlay {
                opacity: .5;
            }
        }

    }

    .swiper-button-next,
    .swiper-button-prev {
        color: color(black);
        filter: drop-shadow(2px 2px 4px color(white-dark));
    }

    .swiper-button-next {}
}

// Galeri Carousel
.swiper-container.galeri-carousel {
    width: 100%;
    position: relative;
    height: 15rem;
    margin-bottom: 2rem;

    @include tablet {
        width: 75%;
        height: 36rem;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        // background: rgb(162, 162, 162);
        // position: relative;
        /* Center slide text vertically */
        @include flex-column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: $transition-slow;
        // transform: translateY(2.3em);
        // margin-left: -30px;

        // &.animate {
        //     // transition: $transition-slow;
        //     // height: 100%;
        //     // transform: translateY(0);
        // }

        // &.swiper-slide-active {
        //     // transition: $transition-slow;
        //     // height: 100%;
        //     // transform: translateY(0);
        // }

        .field-gambar {
            @include flex-column;
            align-items: center;
            width: 100%;
            height: 100%;

            .gambar {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }

    .swiper-button-next,
    .swiper-button-prev {
        color: color(black);
        filter: drop-shadow(2px 2px 4px color(white-dark));
    }
}

// Testimoni Carousel
.swiper-container.testimoni-carousel {
    width: 100%;
    height: 45vh;

    @include tablet {
        width: 75%;
    }

    .swiper-slide {
        padding: 10%;
        text-align: center;
        font-size: 18px;
        // background: rgb(162, 162, 162);
        // position: relative;
        /* Center slide text vertically */
        @include flex-row;
        justify-content: space-around;
        align-items: flex-start;
        transition: $transition-slow;

        .field-kiri {
            width: 100%;
            @include flex-column;
            align-items: flex-start;



            .judul {
                font-size: 2rem;
                padding-bottom: .5em;
                border-bottom: .1em color(white-dark) solid;
                color: color(white-dark);
            }
        }

        .field-kanan {
            width: 100%;
            @include flex-column;
            align-items: flex-start;


            .field-bintang {
                @include flex-row;
                color: color(white-dark);
                margin-bottom: 2em;
            }

            .teks {
                color: color(white-dark);
                font-style: italic;
                margin-bottom: 2em;
            }

            .field-author {
                @include flex-row;
                width: 100%;
                justify-content: flex-start;
                // align-items: flex-start;

                i {
                    color: color(white-dark);
                    font-size: 1.5em;
                    margin-right: .5em;
                }

                .teks {
                    color: color(white-dark);
                    font-style: normal;
                    margin-bottom: 0;
                }
            }
        }



    }

    .swiper-button-next,
    .swiper-button-prev {
        color: color(white);
        filter: drop-shadow(2px 2px 4px color(white-dark));
    }
}

// Team Carousel
.swiper-container.team-carousel {
    width: 100%;
    position: relative;
    height: 14rem;

    @include tablet {
        width: 75%;
        height: 23rem;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        @include flex-column;
        justify-content: space-between;
        // background: rgb(162, 162, 162);
        // position: relative;
        /* Center slide text vertically */
        transition: $transition-slow;

        // transform: translateY(2.3em);
        // margin-left: -30px;

        // &.swiper-slide-active {
        //     // transition: $transition-slow;
        //     // height: 100%;
        //     // transform: translateY(0);
        // }

        .field-gambar {
            @include flex-column;
            margin-bottom: 6px;
            height: 70%;

            @include pc {
                margin-bottom: 1em;
            }

            img.gambar {
                width: 110px;
                height: 110px;
                // max-width: 300px;
                object-fit: cover;
                border-radius: 50%;

                @include pc {
                    width: 12em;
                    height: 12em;
                }
            }
        }

        .field-content {
            @include flex-column;
            width: 100%;
            height: 30%;
            justify-content: space-between;

            .field-teks {
                width: 100%;

                .judul {
                    @include font1;
                    font-size: 14px;


                    line-height: 1.794375em;
                    text-align: center;
                    border: 0;
                    padding-bottom: 0;
                    margin-bottom: .25em;
                    color: black;

                    @include pc {
                        font: {
                            size: 22px;
                        }
                    }
                }

                .deskripsi {
                    @include font2;
                    text-align: center;
                    font-size: 10px;
                    margin-bottom: 1em;
                    color: black;

                    @include pc {
                        font-size: 18px;
                    }
                }
            }
        }



    }

    .swiper-button-next,
    .swiper-button-prev {
        color: black;
        filter: drop-shadow(2px 2px 4px color(white-dark));
    }
}

// Client Carousel
.swiper-container.client-carousel {
    width: 100%;
    position: relative;
    height: 8rem;

    @include tablet {
        width: 75%;
        height: 15rem;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        // background: rgb(162, 162, 162);
        // position: relative;
        /* Center slide text vertically */
        @include flex-column;
        transition: $transition-slow;
        // transform: translateY(2.3em);
        // margin-left: -30px;



        &.swiper-slide-active {

            // transition: $transition-slow;
            // height: 100%;
            // transform: translateY(0);
            .gambar {
                width: 100px;
                height: 100px;

                @include pc {
                    width: 11em;
                    height: 11em;
                }
            }
        }

        .gambar {
            width: 98px;
            height: 98px;
            object-fit: cover;
            margin-bottom: 1em;
            border-radius: 50%;
            transition: $transition-slow;

            @include pc {
                width: 10em;
                height: 10em;
                margin-bottom: 0;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: black;
        filter: drop-shadow(2px 2px 4px color(white-dark));
    }
}

// Review Carousel
.swiper-container.review-carousel {
    width: 100%;
    position: relative;
    height: 20rem;
    margin-bottom: 2rem;

    @include tablet {
        width: 75%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        // background: rgb(162, 162, 162);
        // position: relative;
        /* Center slide text vertically */
        @include flex-column;
        justify-content: flex-start;
        align-items: center;
        transition: $transition-slow;
        // transform: translateY(2.3em);
        // margin-left: -30px;

        // &.animate {
        //     // transition: $transition-slow;
        //     // height: 100%;
        //     // transform: translateY(0);
        // }

        // &.swiper-slide-active {
        //     // transition: $transition-slow;
        //     // height: 100%;
        //     // transform: translateY(0);
        // }
        .field-bintang {
            color: black;
            font-size: 1.4em;
            margin-bottom: 1em;
        }

        .line {
            margin-bottom: 1em;
        }

        .keterangan {
            @include font2;
            color: black;
            margin-bottom: 1em;
            font-size: 1.125em;
        }

        .deskripsi {
            @include font2;
            color: black;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: color(black);
        filter: drop-shadow(2px 2px 4px color(white-dark));
    }
}

// Related Carousel
.swiper-container.related-carousel {
    width: 100%;
    position: relative;
    height: 40rem;
    margin-bottom: 2rem;

    @include tablet {
        width: 75%;
    }

    .swiper-slide {
        font-size: 18px;
        // background: rgb(162, 162, 162);
        // position: relative;
        /* Center slide text vertically */
        @include flex-column;
        transition: $transition-slow;
        // transform: translateY(2.3em);
        // margin-left: -30px;

        // &.animate {
        //     // transition: $transition-slow;
        //     // height: 100%;
        //     // transform: translateY(0);
        // }

        // &.swiper-slide-active {
        //     // transition: $transition-slow;
        //     // height: 100%;
        //     // transform: translateY(0);
        // }
        a {
            justify-content: flex-start;
            align-items: center;

            .gambar {
                width: 100%;
                // height: 100%;
                object-fit: cover;
                margin-bottom: 1em;
            }

            .teks {
                @include font2;
                font-size: 18px;
                margin-left: 1em;
                margin-bottom: .6em;
                align-self: flex-start;
                color: black;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: color(black);
        filter: drop-shadow(2px 2px 4px color(white-dark));
    }
}