.copyright {
    @include flex-column;
    height: 4rem;
    background-color: white;

    .teks {
        @include font2;
        color: black;
        font-size: 1em;

        @include pc {
            font-size: 1.125em;
        }
    }
}