.field-link {
    width: 100%;
    @include flex-row;
    margin-top: 95px;
    margin-bottom: 86px;

    .link {
        @include font1;
        font-size: 36px;
        margin-right: 50px;
        color: color(white-darker);

        &.active {
            color: black;
            border-bottom: 2px rgba(112, 112, 112, 1) solid;
            padding: 22px 0px;
        }
    }
}