.flex-galeri {
    padding: 0 12.08333333333333%;
    @include flex-row;
    // padding: 3.5em;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: color(white-light);

    @include pc {
        // justify-content: flex-start;
        margin: 0rem 16.18948464341489% 120px 16.18948464341489%;
        padding: 1em;
    }

    .gambar-custom {
        justify-self: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .item {
        position: relative;

        margin: {
            bottom: 29px;
        }

        max: {
            width: 46%;
        }

        @include pc {
            margin: {
                bottom: 2em;
            }

            max: {
                width: 31.39497835766962%;
            }
        }

        &.kecil {
            max-width: 28.02197802197802%;

            @include pc {
                max-width: 46%;
            }
        }

        .gambar {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-bottom: .5em;
            transition: $transition-slower;


            max: {
                width: 404px;
                height: 525px;
            }
        }

        .teks {
            @include font2;
            width: 100%;
            font-size: 9px;
            color: rgba(0, 0, 0, 1);
            transition: $transition-slower;

            @include pc {
                font-size: 1.125em;
            }
        }

        .overlay {
            @include flex-column;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            background-color: #fff;
            transition: $transition-slow;
        }

        .teks-overlay {
            @include flex-column;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            transition: $transition-slow;

            .teks {
                @include font2;
                width: auto;
                font-size: 14px;
                padding: 0 .5em;
                padding-bottom: .3em;
                margin-bottom: 1.7em;
                color: color(white-light);
                border-bottom: 2px solid color(white-light);

                @include pc {
                    font-size: 1.4rem;
                }
            }
        }

        &:hover,
        &:focus {
            .overlay {
                opacity: .3;
            }

            .teks-overlay {
                opacity: 1;
            }
        }
    }

    .item-blog {
        position: relative;

        margin: {
            bottom: 24px;
            // right: 21px;
        }


        max-width: 47%;

        padding: 10px 0;
        text-align: center;
        font-size: 18px;
        // background: rgb(162, 162, 162);
        // position: relative;
        /* Center slide text vertically */
        @include flex-column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: $transition-slow;
        background: rgb(242, 242, 242);

        @include pc {
            margin: {
                bottom: 2em;
                // right: 29px;
            }

            max: {
                width: 31.5512753774076%;
            }
        }

        .gambar {
            width: 100%;
            height: 50%;
            object-fit: cover;
            margin-bottom: 1em;
        }

        .field-content {
            @include flex-column;
            width: 100%;
            height: 50%;
            justify-content: space-between;
            padding: 0 18px;

            @include pc {
                padding: 0 41px;
            }

            .field-teks {
                width: 100%;

                .judul {
                    @include font1;
                    font-size: 10px;
                    text-align: left;
                    line-height: 13.19px;
                    border: 0;
                    padding-bottom: 0;
                    margin-bottom: 10px;
                    color: black;

                    @include pc {
                        margin-bottom: 21px;
                        line-height: 29.01px;
                        font-size: 22px;
                    }
                }

                .deskripsi {
                    @include font2;
                    text-align: justify;
                    margin-bottom: 1em;
                    line-height: 10.55px;
                    font-size: 8px;
                    color: rgba(0, 0, 0, 1);

                    @include pc {
                        line-height: 21.1px;
                        font-size: 16px;
                    }
                }
            }

            .field-meta {
                width: 100%;

                .line {
                    width: 100%;
                    border-bottom: 1px solid color(white-darkest);
                    justify-self: flex-end;
                    margin-bottom: .4em;

                    @include pc {
                        border-bottom: 2px solid color(white-darkest);
                    }
                }

                .meta {
                    @include flex-row;
                    width: 100%;
                    justify-content: space-between;

                    .tanggal,
                    .author {
                        @include font2;
                        font-style: italic;
                        font-size: 7px;
                        color: rgba(0, 0, 0, 1);

                        @include pc {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .overlay {
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: -10px;
            right: -10px;
            opacity: 0;
            background: color(white-darkest);
            transition: $transition-slow;
            // background: red;
        }

        &:hover {
            .overlay {
                opacity: .5;
            }
        }
    }
}