.flex-galeri {
    padding: 1em;
    @include flex-row;
    // padding: 3.5em;
    // justify-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: color(white-light);

    @include pc {
        margin: 0rem 15%;
    }

    .item {
        margin: {
            bottom: 2em;
            right: 1em;
        }

        .gambar {
            width: 100%;
            height: 100%;
            margin-bottom: .5em;
            transition: $transition-slower;


            max: {
                width: 404px;
                height: 525px;
            }
        }

        .teks {
            color: color(black-lighter);
            transition: $transition-slower;
        }
    }
}