.gambar-hero-big {
    position: relative;
    height: 50vh;
    width: 100%;
    margin-bottom: 94px;


    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .item {
        @include flex-column;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 1em;

        .judul {
            @include judul;
            font-size: 18px;
            margin-bottom: .6em;

            &.putih {
                color: white;
            }

            @include pc {
                font-size: 3em;
            }
        }

        .teks {
            @include font2;
            color: color(black-lightest);
            text-align: center;
        }

        .line {
            width: 84px;
            border-bottom: 2px rgba(255, 255, 255, 1) solid;
        }
    }
}