.gambar-hero {
    position: relative;
    height: 35vh;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 8vh;

    @include pc {
        margin-top: 0;
        margin-bottom: 127px;
    }


    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .item {
        @include flex-column;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        margin: 1em;

        @include pc {
            top: 0;
            bottom: 0
        }

        .judul {
            @include judul;
            font-size: 24px;
            margin-bottom: .4em;

            @include pc {
                font-size: 3em;
                margin-bottom: .6em;
            }

            &.putih {
                color: white;
            }
        }

        .teks {
            @include font2;
            color: color(black-lightest);
            text-align: center;
            font-size: 10px;

            @include pc {
                font-size: 16px;
            }
        }

        .line {
            width: 84px;
            border-bottom: 2px rgba(255, 255, 255, 1) solid;
        }
    }
}