.pagination {
    @include flex-row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 28.33333333333333%;
    margin-bottom: 42px;

    @include pc {
        padding: 0 38.33333333333333%;
    }

    a {
        @include font1;
        font-size: 12px;
        text-decoration: none;
        color: black;

        @include pc {
            font-size: 24px;
        }

        &.active {
            padding-bottom: 9px;
            border-bottom: 2px rgba(112, 112, 112, 1) solid;
        }
    }

    .teks {
        align-items: flex-end;
        @include font1;
        font-size: 12px;
        color: black;

        @include pc {
            font-size: 24px;
        }
    }
}