.teks-gambar {
    overflow: hidden;
    background-color: color(white-light);
    position: relative;
    display: grid;
    grid-template-columns: 30.41666666666667% 69.58333333333333%;
    grid-template-areas: "gambar teks";

    @include pc {
        grid-template-columns: 37.34375% 62.65625%;
        justify-content: space-between;
    }

    &:nth-child(2n) {
        background-color: #E8E8E8;
        grid-template-areas: "teks gambar";
        grid-template-columns: 69.58333333333333% 30.41666666666667%;

        @include pc {
            grid-template-columns: 60.15625% 39.84375%;
        }


        .field-teks {
            background-color: hsl(0, 0%, 91%);
            padding: 43px 17.06586826347305% 43px 23.35329341317365%;

            @include pc {
                padding: {
                    left: 27.16702918490177%;
                    right: 12.66629978074198%;
                }
            }

            .judul {
                // align-self: flex-end;
                align-self: flex-start;

                @include pc {}
            }

            .teks {
                // text-align: right;
                text-align: left;

                @include pc {}
            }
        }
    }

    .field-gambar {
        grid-area: gambar;
        transition: $transition-slower;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .field-teks {
        background-color: color(white-light);
        grid-area: teks;
        padding: 43px 23.35329341317365% 43px 17.06586826347305%;
        @include flex-column;
        align-items: flex-start;
        transition: $transition-slower;

        // justify-content: space-evenly;
        @include pc {
            padding: {
                left: 17.19322670737128%;
                right: 44.19917304773007%;
            }
        }

        .icon {
            font-size: 3em;
            margin-bottom: .33em;
            transition: $transition-slower;
            color: grey;
        }

        .judul {
            @include judul;

            margin: {
                bottom: 9px;
            }

            @include pc {
                margin: {
                    bottom: .6em;
                }
            }
        }

        .subjudul {
            // @include flex-column;
            // width: 50%;
            font-size: .5em;
            font-weight: 400;
            margin-bottom: 2em;
            transition: $transition-slower;
            color: color(black-lighter);

            @include tablet {
                font-size: 1em;
            }
        }

        div.line {
            width: 5em;
            border-bottom: solid color(black-light) 2px;
            margin-bottom: 1.2em;
            transition: $transition-slower;
        }

        p.teks {
            @include font2;
            font-size: 12px;
            color: rgba(0, 0, 0, 1);
            transition: $transition-slower;

            @include pc {
                font-size: 16px;
            }
        }
    }


}