.teks-gambar {
    overflow: hidden;
    background-color: color(white-light);
    position: relative;
    // color: color(black);
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "gambar"
        "teks";
    grid-gap: 8%;
    // height: 30em;

    @include pc {
        grid-template-columns: 37% 55%;
        grid-template-areas: "gambar teks";
        justify-content: space-between;

    }

    &:nth-child(2n) {
        background-color: #E8E8E8;

        @include pc {
            grid-template-columns: 55% 37%;
            grid-template-areas: "teks gambar";
        }


        .field-teks {
            background-color: hsl(0, 0%, 91%);

            @include pc {
                padding: {
                    left: 20em;
                    right: 10em;
                }
            }
        }
    }

    .field-gambar {
        grid-area: gambar;
        transition: $transition-slower;
        // min-height: 20em;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .field-teks {
        background-color: color(white-light);
        // min-height: 60em;
        grid-area: teks;
        padding: 3em;
        // padding-left: 15em;
        @include flex-column;
        align-items: flex-start;
        transition: $transition-slower;

        // justify-content: space-evenly;
        @include pc {
            padding-right: 20em;
        }

        .icon {
            font-size: 3em;
            margin-bottom: .33em;
            transition: $transition-slower;
            color: grey;
        }

        .judul {
            @include judul;

            margin: {
                bottom: .6em;
            }

        }

        .subjudul {
            // @include flex-column;
            // width: 50%;
            font-size: .5em;
            font-weight: 400;
            margin-bottom: 2em;
            transition: $transition-slower;
            color: color(black-lighter);

            @include tablet {
                font-size: 1em;
            }
        }

        div.line {
            width: 5em;
            border-bottom: solid color(black-light) 2px;
            margin-bottom: 1.2em;
            transition: $transition-slower;
        }

        p.teks {
            @include font2;
            font-weight: 400;
            color: rgba(0, 0, 0, 1);
            transition: $transition-slower;
        }
    }
}