.teks-gambar {
    overflow: hidden;
    background-color: color(white-light);
    position: relative;
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-areas: "gambar teks";

    @include pc {
        justify-content: space-between;
    }

    .field-gambar {
        grid-area: gambar;
        transition: $transition-slower;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .field-teks {
        background-color: color(white-light);
        grid-area: teks;
        padding: 43px 57px;
        @include flex-column;
        align-items: flex-start;
        transition: $transition-slower;

        // justify-content: space-evenly;
        @include pc {
            padding: {
                left: 10em;
                right: 20em;
            }
        }

        .icon {
            font-size: 3em;
            margin-bottom: .33em;
            transition: $transition-slower;
            color: grey;
        }

        .judul {
            @include judul;

            margin: {
                bottom: 9px;
            }

            @include pc {
                margin: {
                    bottom: .6em;
                }
            }
        }

        .subjudul {
            // @include flex-column;
            // width: 50%;
            font-size: .5em;
            font-weight: 400;
            margin-bottom: 2em;
            transition: $transition-slower;
            color: color(black-lighter);

            @include tablet {
                font-size: 1em;
            }
        }

        div.line {
            width: 5em;
            border-bottom: solid color(black-light) 2px;
            margin-bottom: 1.2em;
            transition: $transition-slower;
        }

        p.teks {
            @include font2;
            font-size: 12px;
            color: rgba(0, 0, 0, 1);
            transition: $transition-slower;

            @include pc {
                font-size: 16px;
            }
        }
    }

    &:nth-child(2n) {
        background-color: #E8E8E8;
        grid-template-areas: "teks gambar";
        grid-template-columns: 67% 33%;

        @include pc {
            grid-template-columns: 67% 33%;
        }


        .field-teks {
            background-color: hsl(0, 0%, 91%);
            padding: 43px 57px;

            @include pc {
                padding: {
                    left: 20em;
                    right: 10em;
                }
            }

            .judul {
                align-self: flex-end;

                @include pc {
                    align-self: flex-start;
                }
            }

            .teks {
                text-align: right;

                @include pc {
                    text-align: left;
                }
            }
        }
    }
}