.section-delivery {
    @include flex-row;
    padding: 0 15.5208333333%;

    @include pc {
        padding: 0;
    }

    .gambar {
        max-height: 150px;
        width: 28.58481724461106%;
        object-fit: contain;

        &.awal {
            width: 14.058106841612%;
        }
    }
}