.section-blog {
    @include flex-column;
    justify-content: flex-start;
    padding: 3em;
    background-color: color(white);

    .judul {
        @include judul;
        border-bottom: .1em color(black-lighter) solid;
        padding-bottom: .5em;

        margin: {
            bottom: 1.5em;
        }

    }

    .button {
        @include button;
    }
}