.section-galeri {
    @include flex-column;
    justify-content: flex-start;
    padding: 3.9375em;
    background-color: white;

    .judul {
        @include judul;
        // border-bottom: 2px color(black-lighter) solid;
        padding-bottom: .5em;

        margin: {
            bottom: 13px;
        }
    }

    .line {
        border-bottom: 2px rgba(112, 112, 112, 1) solid;
        width: 41.5px;
        margin-bottom: 48.5px
    }

    .button {
        @include button;
    }
}