.section-cart {
    @include flex-column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 10.19791666666667%;

    @include mobilebig {
        padding: 0 16.19791666666667%;
    }


    .field-item {
        @include flex-column;
        justify-content: flex-start;
        align-items: flex-start;
        border-top: 2px rgba(112, 112, 112, 1) solid;
        padding: 28px 5.546995377503852%;
        width: 100%;
        // margin: 0 311px;

        @include pc {
            padding: 40px 0;
            @include flex-row;
        }

        .gambar {
            width: 100%;
            height: 283px;
            object-fit: cover;
            margin: 0 0 21px 0;

            // margin-right: 36px;
            @include pc {
                height: 225px;
                margin: 0 11.46824777656421% 0 0;
                width: 15.75908878140115%;
            }
        }

        .field-tengah {
            @include flex-column;
            width: 100%;
            margin: 0 0 25px 0;

            @include pc {
                width: 35.88703385863629%;
            }
        }

        .field-kanan {
            @include flex-column;
            align-items: flex-start;
            width: 100%;

            // width: 48.35387735996256%;
            // padding-right: 19.42580745826182%;
            @include pc {
                width: 28.92806990170074%;
            }

            .judul {
                @include font1;
                font-size: 12px;
                margin-bottom: 14px;
                color: black;

                @include pc {
                    margin-bottom: 15px;
                    font-size: 16px
                }
            }

            .field-spesifikasi {
                .isi {
                    @include flex-row;
                    justify-content: space-between;
                    width: 50%;
                    @include font1;

                    .angka {
                        @include font1;
                    }

                    .button {
                        width: 27px;
                        height: 27px;
                        // padding: .2em .5em;
                        text-align: center;
                        border: 1px black solid;
                        border-radius: 13px;
                        cursor: pointer;
                    }
                }
            }

            .button-checkout {
                position: relative;
                align-self: center;
                @include font2;
                list-style: none;
                width: 72.25261270221599%;
                padding: 11px 11px;
                margin-top: 37px;
                background-color: rgba(112, 112, 112, 1);
                border: rgba(112, 112, 112, 1) 2px solid;
                border-radius: 40px;
                color: white;
                font-size: 12px;

                @include mobilebig {
                    width: 68.69670710571924%;
                }

                @include pc {
                    margin-top: 0;
                    font-size: 16px;
                    align-self: flex-start;
                    width: 100%;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    right: 1px;
                    padding: 11px 11px;
                    background: rgba(196, 196, 196, 1);
                    border-radius: 40px;
                }
            }
        }

        .field-spesifikasi {
            width: 100%;
            @include flex-row;
            justify-content: flex-start;
            margin-bottom: 9px;

            @include pc {
                margin-bottom: 18px;
            }

            p {
                @include font2;
                font-size: 12px;
                color: black;

                @include pc {
                    font-size: 16px;
                }
            }

            .spesifikasi {
                width: 35%;
            }

            .titikdua {
                width: 5%;
            }

            .isi {
                width: 50%;
            }
        }
    }

    .buttonadd {
        @include font2;
        color: rgba(112, 112, 112, 1);
        font-size: 10px;
        border: 2px rgba(112, 112, 112, 1) solid;
        border-radius: 40px;
        padding: 11px 24px;
        margin-bottom: 50px;
        width: 64.24237775261779%;

        @include mobilebig {
            font-size: 12px;
            width: 61.19291217257319%;
        }

        @include pc {
            padding: 11px 44px;
            font-size: 18px;
            width: auto;
        }
    }
}