.section-product {
    overflow: hidden;
    position: relative;
    // color: color(black);
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "gambar"
        "teks";
    // grid-gap: 2em;
    margin: 121px 16.04166666666667% 25px 16.04166666666667%;
    // height: 30em;

    @include pc {
        margin: 136px 16.19791666666667%;
        grid-template-columns: 44.84932337372622% 55.15067662627378%;
        grid-template-areas: "gambar teks";
        justify-content: space-between;
    }

    .field-gambar {
        position: relative;
        grid-area: gambar;
        transition: $transition-slower;


        .gambar {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .icon {
            @include flex-column;
            position: absolute;
            top: 24px;
            left: 24px;
            height: 3em;
            width: 3em;
            background-color: color(white-darkest);
            border-radius: 50%;
            cursor: pointer;

            i {
                color: color(black-lighter);
                font-size: 1.2em;
            }
        }
    }

    .field-teks {
        grid-area: teks;
        @include flex-column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 36px;

        @include pc {
            padding: 0 0 0 10.14774839785375%;
        }

        .category {
            @include font2;
            font-size: 14px;
            margin-bottom: 3px;
            color: black;

            @include pc {
                margin-bottom: 3em;

                font: {
                    size: 1.125em;
                }
            }
        }

        .judul {
            @include judul;
            margin-bottom: 0em;

            @include pc {
                margin-bottom: .4em;
                font-size: 4em;
            }
        }

        .subjudul {
            @include font2;
            font-size: 10px;
            color: black;
            margin-bottom: 3px;

            @include pc {
                font-size: 20px;
                margin-bottom: 32px;
            }
        }

        .harga {
            @include font2;

            font: {
                size: 14px;
            }

            margin-bottom: 18px;
            color: black;
            transition: $transition-slower;

            @include pc {
                margin-bottom: 42px;
                font-size: 2.25em;
            }
        }

        .line {
            width: 100%;
            border-bottom: 2px rgba(112, 112, 112, 1) solid;
            margin-bottom: 13px;
            display: none;

            @include pc {
                margin-bottom: 49px;
                display: block
            }

            &.mobile {
                display: block;

                @include pc {
                    display: none;
                }
            }
        }

        .deskripsi {
            @include font2;
            color: black;
            margin-bottom: 3em;
        }

        .field-spesifikasi {
            width: 100%;
            @include flex-row;
            justify-content: flex-start;
            margin-bottom: 36px;

            .list-judul,
            .list-spesifikasi {
                color: black;
                list-style: none;

                li {
                    @include font2;
                    font-size: 12px;
                    margin-bottom: .8em;

                    @include pc {
                        font-size: 16px;
                    }
                }
            }

            .list-judul {
                margin-right: 1em;

                @include tablet {
                    margin-right: 4em;
                    margin-bottom: 0;
                }
            }

            .list-spesifikasi {}
        }

        .field-button {
            width: 100%;
            @include flex-row;
            justify-content: space-between;
            margin-bottom: 16px;

            @include pc {
                justify-content: space-evenly;
                margin-bottom: 2em;
            }

            .button {
                @include button;
                width: 46%;
                border: 2px rgba(112, 112, 112, 1) solid;
                text-align: center;

                @include pc {
                    @include font2;
                    font-size: 18px;
                    padding: 10px;
                    width: 32.93947136854092%;
                }

            }
        }

        .button-cart {
            position: relative;
            align-self: flex-end;
            @include flex-row;
            padding: 8px 12.85px;
            // padding: 1em 2em;
            transition: $transition-slow;
            width: 46%;
            background-color: rgba(112, 112, 112, 1);
            margin-bottom: 36px;
            cursor: pointer;

            border: 2px transparent solid {
                radius: 2em;
            }

            @include pc {
                width: 55%;
                align-self: center;
                padding: 12px 14px 13px 13%;
            }

            @include pcbig {
                width: 37.01769163321742%;
                align-self: center;
                padding: 12px 14px 13px 13%;
            }

            &:hover {
                @include pc {
                    background-color: transparent;

                    border: 2px color(white-darkest) solid {
                        radius: 2em;
                    }

                    .teks {
                        color: color(black-lightest);
                    }
                }
            }

            .teks {
                font-size: 12px;
                color: color(white-light);

                @include pc {
                    font-size: 16px;

                }
            }

            .qty {
                @include button;
                @include flex-row;
                position: absolute;
                height: 100%;
                top: 0;
                right: 0;
                background-color: color(white-darker);
                padding: .5em .5em;

                border: 2px color(white-darker) solid {
                    radius: 40px;
                }

                @include pc {
                    right: auto;
                    left: 0;
                    padding: 1em 20.83px 1em 7px;
                }

                .tombol {
                    @include flex-row;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    position: absolute;
                    right: 35vw;
                    width: 32.4vw;
                    height: 33px;

                    @include pc {
                        width: auto;
                        margin-right: .4em;
                        @include flex-column;
                        position: static;
                    }

                    .segitiga {
                        @include flex-row;
                        cursor: pointer;
                        width: 1em;
                        // height: 0.5em;
                        margin: .2em;
                        background-color: white;
                        transition: $transition-slow;
                        border: 1px black solid;
                        border-radius: 40px;
                        padding: 5px 22px;

                        @include pc {
                            display: block;
                            padding: 0;
                            border: none;
                            background-color: color(black-lighter);
                            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                            width: 14px;
                            height: 6px;
                            margin: 2px 3.81px;
                        }

                        &:nth-child(2) {
                            transform: rotate(180deg);
                        }

                        &:hover {
                            background-color: color(satu);
                        }

                        p.teks.mobile {
                            color: black;
                            text-align: center;

                            @include pc {
                                display: none
                            }
                        }
                    }
                }

                .angka {
                    @include font2;
                    position: absolute;
                    // right: 240px;
                    right: 49.5vw;
                    font-size: 18px;
                    color: black;


                    @include tablet {
                        position: static;
                        color: color(white);
                        font-size: 3em;
                    }
                }

                .teks.mobile {
                    @include font2;
                    font-size: 18px;
                    color: white;

                    @include pc {
                        display: none
                    }
                }
            }
        }

        .estimasi {
            @include font2;
            align-self: flex-start;
            color: black;
            margin-bottom: 17px;

            @include pc {
                align-self: center;
            }
        }
    }
}