.section-related {
    @include flex-column;
    justify-content: flex-start;
    align-items: center;
    padding: 3em;
    background-color: color(white-light);

    @include pc {
        margin-bottom: 75px;
    }

    .judul {
        @include judul;
        text-align: center;
        padding-bottom: .5em;

        margin: {
            bottom: .1em;
        }

        @include tablet {
            font-size: 2.25em;
        }
    }

    .line {
        width: 2em;
        border-bottom: 2px color(black-lighter) solid;
        margin-bottom: 2em;

        @include tablet {
            margin-bottom: 3em;
        }
    }


}