.section-review {
    @include flex-column;
    justify-content: flex-start;
    align-items: center;
    padding: 38px 3em 2px 3em;
    background-color: #e8e8e8;
    margin-bottom: 45px;

    @include pc {
        padding: 88px 3em 2px 3em;
        margin-bottom: 197px;
    }

    .judul {
        @include judul;
        text-align: center;
        padding-bottom: .5em;

        margin: {
            bottom: .1em;
        }

        @include tablet {
            font-size: 2.25em;
        }
    }

    .line {
        width: 2em;
        border-bottom: 2px rgba(112, 112, 112, 1) solid;
        margin-bottom: 2em;

        @include tablet {
            margin-bottom: 3em;
        }
    }

    .button {
        @include button;
    }
}