.section-showcase {
    overflow: hidden;
    // background: color(white-light);
    position: relative;
    // color: color(black);
    display: none;
    grid-template-columns: 100%;
    grid-template-areas: "kiri"
        "kanan";
    height: 78em;

    @include pc {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "kiri kanan";
        justify-content: space-between;
    }

    .kiri,
    .kanan {
        @include flex-column;
    }

    .kiri {
        grid-area: kiri;
        height: 100%;
        justify-content: flex-start;

        .kotak {
            height: 635px;
            width: 100%;
            background: #E8E8E8;
        }
    }

    .kanan {
        grid-area: kanan;
        height: 100%;
        justify-content: flex-end;

        .kotak {
            height: 635px;
            width: 100%;
            background: #E8E8E8;
        }
    }

    .overlay {
        position: absolute;
        @include fullposition;
        margin: 0 1em;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "kiri"
            "kanan";

        @include pc {
            margin: 0 20em;
            grid-template-columns: 50% 50%;
            grid-template-areas: "kiri kanan";
            justify-content: space-between;

        }

        .kiri,
        .kanan {
            display: grid;
            grid-gap: 6%;
            overflow: hidden;
            height: 100%;

            .gambar {
                grid-area: gambar;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .field-teks {
                grid-area: teks;
                width: 100%;
                height: 100%;
                padding: 5em 5em;
                @include flex-column;
                justify-content: flex-start;

                .judul {
                    @include judul;
                    margin-bottom: 1em;
                }

                .deskripsi {
                    font-weight: 300;
                    color: black;
                    transition: $transition-slower;
                }
            }
        }

        .kiri {
            grid-template-rows: 68% 26%;
            grid-template-areas: "gambar"
                "teks";
            grid-area: kiri;
            justify-content: flex-start;

            .field-teks {
                align-items: flex-end;
                text-align: right;
                padding: 0em 5em;
            }
        }

        .kanan {
            grid-template-rows: 26% 68%;
            grid-template-areas: "teks"
                "gambar";
            grid-area: kanan;
            justify-content: flex-end;

            .field-teks {
                align-items: flex-start;
                text-align: left;
            }
        }
    }

}