.section-judul {
    @include flex-column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px color(white-darkest) solid;
    margin: 4rem 1rem;
    padding: 1em;
    transition: $transition-slower;

    @include tablet {
        @include flex-row;
        justify-content: space-between;
        margin: 4rem 15%;
    }

    .field-kiri {
        @include flex-row;
        justify-content: space-evenly;
        margin-bottom: .23em;

        @include tablet {
            margin-bottom: 0;
        }

        .burger {
            display: block;
            z-index: 3;
            margin-right: .23em;
            position: relative;
            cursor: pointer;

            .line1,
            .line2,
            .line3 {
                width: 1.875em;
                height: .1875em;
                background-color: color(black-lighter);
                margin: .3125em;
                transition: .3s ease
            }


        }

        .menu {
            position: absolute;
            top: 1em;
            left: -15em;
            height: 10em;
            width: 14em;
            background: #E8E8E8;
            opacity: 0;
            transition: $transition-slow;

            &.animate {
                opacity: 1;
            }

            .burger {
                position: relative;

                .line1,
                .line2,
                .line3 {
                    width: 17em;
                    height: .1875em;
                    background-color: color(black-lighter);
                    margin: .3125em;
                    transition: .3s ease
                }
            }

        }

        .judul {
            @include judul;

            margin: {
                bottom: .23em;
            }

            @include tablet {
                margin: {
                    right: .23em;
                    bottom: 0;
                }

            }
        }
    }

    .field-kanan {
        @include flex-row;
        justify-content: space-evenly;

        .teks {
            color: color(black-lightest);
            margin-right: .23em;

            a {
                text-decoration: none;
                color: color(black-lightest);
            }
        }
    }


}