.section-form {
    @include flex-column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15.52083333333333%;

    @include pc {
        @include flex-row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 12.19791666666667%;
    }

    @include pcbig {
        padding: 0 16.19791666666667%;
    }

    .field-kiri,
    .field-kanan {
        @include flex-column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        @include pc {
            width: 45.52264623499029%;
        }

        @include pcbig {
            width: 42.52264623499029%;
        }

        .judul {
            @include judul;
            margin-bottom: 28px;

            @include tablet {
                font-size: 16px;
            }
        }

        .pembungkus-input {
            position: relative;
            width: 100%;

            input,
            textarea {
                @include font2;
                font-size: 16px;
                margin-bottom: 25px;
                width: 100%;
                border: rgba(112, 112, 112, 1) 1px solid;
                padding: 11px 13px;
                border-radius: 5px;

                &::placeholder {
                    @include font2;
                }

                // &[value=""] {
                //     border: red 2px solid;
                // }
            }

            textarea {
                resize: vertical;
            }

            label {
                @include font2;
                font-size: 10px;
                position: absolute;
                z-index: 1;
                top: -6px;
                left: 13px;
                background: white;
                padding: 0px 5px;
                color: rgba(112, 112, 112, 1);
            }
        }

        .field-input {
            @include flex-row;
            justify-content: space-between;
            flex-wrap: wrap;

            @include pc {
                // @include flex-row;
            }

            .pembungkus-input {
                width: 47%;

                @include pc {
                    width: 30%;
                }
            }
        }

        .field-item {
            @include flex-column;
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 21px;

            @include pc {
                @include flex-row;
                justify-content: flex-start;
                align-items: flex-start;
            }

            .gambar {
                width: 100%;
                height: 331px;
                object-fit: cover;
                margin: 0 0 36px 0;

                @include pc {
                    height: 225px;
                    width: 34.48011646617117%;
                    margin: 0 5.516818634587388% 0 0
                }
            }

            .field-teks {
                @include flex-column;
                width: 100%;

                @include pc {
                    width: 50.5137537354%;
                }

                @include pcbig {
                    width: 45.5137537354%;
                }
            }
        }

        .field-spesifikasi {
            width: 100%;
            @include flex-row;
            justify-content: flex-start;

            p {
                @include font2;
                color: black;
                margin-bottom: .5em;
            }

            .spesifikasi {
                width: 35%;
            }

            .titikdua {
                width: 5%;
            }

            .isi {
                @include font1;
                width: 50%;
            }
        }

        .payment {
            @include flex-row;
            width: 100%;
            justify-content: space-between;
            background: #E8E8E8;
            padding: 18px;
            margin-top: 24px;
            margin-bottom: 6px;

            @include pc {
                margin-top: 0;
                margin-bottom: 12px;
            }

            .teks {
                @include font2;
                font-size: 12px;

                @include pc {
                    font-size: 16px;
                }
            }
        }

        .deskripsi {
            @include font2;
            font-size: 10px;
            margin-bottom: 11px;

            @include pc {
                margin-bottom: 22px;
            }
        }

        .agreement {
            @include font2;
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 12px;
            user-select: none;
            margin-bottom: 40px;

            @include pc {
                font-size: 14px;
            }

            /* Hide the browser's default checkbox */
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                /* When the checkbox is checked, add a blue background */
                &:checked~.checkmark {
                    // background-color: #59aaec;

                    /* Show the checkmark when checked */
                    &:after {
                        display: block;
                    }
                }
            }

            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 19px;
                width: 19px;
                background-color: white;
                border: 1px rgba(112, 112, 112, 1) solid;
                border-radius: 5px;

                /* Create the checkmark/indicator (hidden when not checked) */
                /* Style the checkmark/indicator */
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 10px;
                    bottom: 2px;
                    width: 5px;
                    height: 19px;
                    border: solid black;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);
                }
            }

            /* On mouse-over, add a grey background color */
            &:hover input~.checkmark {
                background-color: #ccc;
            }
        }

        .button-order {
            position: relative;
            align-self: flex-end;
            @include font2;
            list-style: none;
            width: 55%;
            // padding: 11px 11px;
            background-color: rgba(112, 112, 112, 1);
            border: rgba(112, 112, 112, 1) 2px solid;
            border-radius: 40px;
            color: white;
            font-size: 12px;
            padding-right: 41.2px;

            @include pc {
                font-size: 16px;
                width: 50%;
                align-self: center;
            }

            input {
                // height: 100%;
                background-color: rgba(112, 112, 112, 1);
                border: none;
                border-radius: 40px;
                color: white;
                padding: 11px 17px;
                text-decoration: none;
                // margin: 4px 2px;
                width: 100%;
                cursor: pointer;

                @include pc {
                    font-size: 16px;
                    padding: 11px 11px;
                    // margin-right: 41.2px;
                }

                &.overlay {
                    position: absolute;
                    top: 0;
                    right: 1px;
                    padding: 11px 11px;
                    background: rgba(196, 196, 196, 1);
                    border-radius: 40px;
                    width: auto;

                    @include pc {
                        // margin-right: 0;
                    }
                }
            }
        }
    }

    .field-kiri {
        margin: 0 0 38px 0;

        @include pc {
            margin: 0;

        }
    }

    .field-kanan {
        margin-bottom: 71px;
    }
}