.section-blog {
    @include flex-column;
    justify-content: flex-start;
    padding: 3.9375em;
    background-color: rgba(232, 232, 232, 1);

    .judul {
        @include judul;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        // border-bottom: 2px rgba(112, 112, 112, 1) solid;
        // padding-bottom: .5em;

        margin: {
            bottom: 21.5px;
        }
    }

    .line {
        border-bottom: 2px rgba(112, 112, 112, 1) solid;
        width: 41.5px;
        margin-bottom: 48.5px
    }

    .button {
        @include button;
        font-size: 14px;
    }
}