.section-article {
    margin-bottom: 42px;

    @include pc {
        margin-bottom: 143px;
    }

    .judul {
        @include judul;
        margin: 0 15% 0 25%;
        margin-bottom: 7px;

        @include pc {
            margin-bottom: 24px;
            margin: 0 521px;
        }
    }

    .teks {
        @include font2;
        font-size: 12px;
        margin: 0 15% 0 25%;
        margin-bottom: 12px;

        @include pc {
            margin: 0 27.12129099427382%;
            margin-bottom: 34px;
            font-size: 16px;
        }

        &.akhir {
            margin-bottom: 58px;

            @include pc {
                margin-bottom: 34px;
            }
        }
    }

    .field-paragraf {
        margin-bottom: 46px;

        @include pc {
            margin-bottom: 0;
        }
    }

    .gambar-teks {
        overflow: hidden;
        background-color: white;
        position: relative;
        // color: color(black);
        display: grid;
        // height: 30em;
        margin-bottom: 49px;
        grid-template-columns: 70.20833333333333% 29.79166666666667%;
        grid-template-areas: "gambar teks";

        @include pc {
            margin-bottom: 26px;
            grid-template-columns: 73.03487766788131% 26.96512233211869%;
            justify-content: space-between;
            // grid-gap: 8%;
        }

        &:nth-child(2n) {
            background-color: white;
            grid-template-columns: 29.79166666666667% 70.20833333333333%;
            grid-template-areas: "teks gambar";

            @include pc {
                grid-template-columns: 26.96512233211869% 73.03487766788131%;
                grid-template-areas: "teks gambar";
            }


            .field-teks {
                padding: 0 13.28671328671329% 0 30.06993006993007%;
                background-color: hsl(0, 0%, 100%);

                @include pc {
                    padding: 0 6.236199971547338% 0 60.60806847347569%;

                }
            }
        }

        .field-gambar {
            grid-area: gambar;
            transition: $transition-slower;
            // min-height: 20em;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        .field-teks {
            background-color: color(white-light);
            padding: 0 30.06993006993007% 0 13.28671328671329%;
            // min-height: 60em;
            grid-area: teks;
            // padding: 3em;
            // padding-left: 15em;
            @include flex-column;
            align-items: flex-start;
            justify-content: flex-start;
            transition: $transition-slower;

            // justify-content: space-evenly;
            @include pc {
                padding: 0 60.60806847347569% 0 6.236199971547338%;
            }

            p.teks {
                word-wrap: break-word;
                @include font2;
                font-size: 9px;
                color: rgba(0, 0, 0, 1);
                transition: $transition-slower;
                margin: 0;
                width: 100%;

                @include pc {
                    font-size: 16px;
                }
            }
        }
    }
}